
input[type="checkbox"][id^="cb"] {
    display: none;
  }
  
  label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid blue;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    height: 20px;
    width: 20px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #0055fe;
    z-index: -1;
  }

    .popup {
      position: relative;
      display: inline-block;
      /* text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; */
      align-content: stretch; 
    }
    
    .popup-content {
      display: none;
      
      background-color: rgb(247, 246, 246);
      border-radius: 3px;
      box-shadow: 2px 2px;
      
      position: absolute;
      margin-top: 1px;
      font: 10px;
      line-height: 35px;
      bottom: 100%; /* added this attribute */
      text-align: center;
      align-content: stretch; 
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      
    }
    
    .popup:hover .popup-content {
      display: block;
    }

    body {
      font-family: "Lato", sans-serif;
    }
    
    .sidenav {
      height: 100%;
      width: 160px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }
    
    .sidenav a:hover {
      color: #aaa8a8;
    }
    
    .main {
      margin-left: 160px; /* Same as the width of the sidenav */
      
      padding: 0px 10px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

    .navbutton {
      position: relative;
      border: none;
      padding: 20px;
      width: 200px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
    }
    
    .navbutton:after {
      content: "";
      background: rgb(77, 94, 192);
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px!important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }
    
    .navbutton:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }